setup/archive-files
setup/archive-files-internal
setup/archive-files-internal-test
sw/apps/
sw/apps-2013-08-27/
sw/java/
sw/genome/
sw/openlava/
sw/rails/
sw/ur/
sw/workflow/
sw/apt-mirror-min-*
fs/*
db/tgi-misc-annotation/
db/tgi-cancer-annotation/
db/dbsnp
db/ensembl
db/cosmic
var/tmp/
var/lock/
var/log/command_line_usage/
var/cache/san/
.vagrant
setup/bin/cpanm
done/
